.search {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  position: relative;

  img {
    margin-left: 5px;
    margin-right: 5px;
  }

  input {
    border: none;
    outline: none;
  }

  button {
    position: absolute;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 2px;
    height: 12px;
    width: 12px;
    cursor: pointer;
    opacity: 0.5;
    outline: none;
    right: 10px;

    img {
      margin: 0px;
    }
  }
}

.searchFilterLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.searchAndFilter {
  display: flex;
  flex-direction: column;

  select {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
  }
}

.filter {
  border: 1px solid #f3f3f3;
  margin-top: 5px;
  border-radius: 10px;

  img {
    margin-right: 5px;
    margin-left: 5px;
  }

  select {
    border: none;
    width: 180px;
    outline: none;
    margin-bottom: 1px;
  }
}

@media (max-width: 992px) {
  .searchFilterLine {
    
    h1 {
      font-size: 30px;
    }
  }
}
