// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap'); Вариант импорта стилей текста с Google Fonts

body {
  margin: 0px;
  font-family: "Inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cyan;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}







