// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap'); Вариант импорта стилей текста с Google Fonts

body {
  margin: 0px;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:cyan;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.09);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.spikeLogo {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: blue;
  margin-right: 15px;
  margin-left: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;

  .headerLeft {
    display: flex;
    align-items: center;

    h3, p {
      margin: 0px;
    }
  }

  .headerRight {
    margin: 0px;
    padding: 0px;
    display: flex;

    span {
      margin-left: 5px;
    }

    li {
      list-style-type: none;
      margin-right: 30px;
    }
  }
}

.content {
  padding: 40px;
  
  h1 {
    margin-bottom: 40px;
  }
}

.allPositions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.position {
  border: 1px solid #F3F3F3;
  padding: 30px;
  width: 180px;
  height: 180px;
  border-radius: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  span {
    font-size: 13px;
    opacity: 0.5; 
  }

  b {
    font-size: 13px;
  }

  .imageCard {
    margin-left: 21px;
    border-radius: 8px;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background: #ffffff;
      border: 1px solid #f2f2f2;
      box-sizing: border-box;
      border-radius: 8px;
      height: 32px;
      width: 32px;
      cursor: pointer;
    }
  }
}