// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap'); Вариант импорта стилей текста с Google Fonts

body {
  margin: 0px;
  font-family: "Inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cyan;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.content {
  padding: 40px;
}

.allPositions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}



.search {
  border: 1px solid #f3f3f3;
  border-radius: 10px;

  img {
    margin-left: 5px;
    margin-right: 5px;
  }

  input {
    border: none;
    outline: none;
  }
}

.searchFilterLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.searchAndFilter {
  display: flex;
  flex-direction: column;

  select {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
  }
}

.filter {
  border: 1px solid #f3f3f3;
  margin-top: 5px;
  border-radius: 10px;

  img {
    margin-right: 5px;
    margin-left: 5px;
  }

  select {
    border: none;
    width: 180px;
    outline: none;
    margin-bottom: 1px;

  }
}


